<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
<script src="{{ site.js.leaflet.src }}"></script>
<script src="{{ site.js.leaflet-iiif.src }}"></script>

<div id="iiif-viewer"></div>

<script>
  if ( $( "#iiif-viewer" ).length ) {
    var iiifLayers = {};
    var leaflet_viewer = L.map('iiif-viewer', {
      center: [0, 0],
      crs: L.CRS.Simple,
      zoomSnap: 0,
      zoom: 0
    });
    $.getJSON('{{ include.manifest | absolute_url }}', function(data) {
      var i = 1;
      $.each(data.sequences[0].canvases, function(_, val) {
        var label = `image${i}`;
        iiifLayers[label] = L.tileLayer.iiif(`${val.images[0].resource.service['@id']}/info.json`, {fitBounds: true});
        i++;
      });
      if (i > 2){ L.control.layers(iiifLayers).addTo(leaflet_viewer);}
      iiifLayers[Object.keys(iiifLayers)[0]].addTo(leaflet_viewer);
    });
  }
</script>
